@import "tailwindcss";  

@theme {
  /* Configuración de Colores */
  --color-primary: #2b8cee;
  --color-background-light: #f6f7f8;
  --color-background-dark: #101922;
  --color-accent-yellow: #ffd700;

  /* Configuración de Fuentes */
  --font-display: "Lexend", sans-serif;

  /* Configuración de Border Radius */
  --radius-default: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-full: 9999px;
}


/* Estilos base opcionales */
@layer base {
  body {
    @apply font-display bg-background-light dark:bg-background-dark;
  }
}


.court-texture {
  background-image: radial-gradient(circle at 2px 2px, rgba(255,255,255,0.05) 1px, transparent 0);
  background-size: 40px 40px;
}
.voley-court-lines {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.1;
  pointer-events: none;
  background: 
      linear-gradient(90deg, transparent 49%, #fff 50%, transparent 51%),
      linear-gradient(0deg, transparent 49%, #fff 50%, transparent 51%);
  background-size: 100% 100%, 100% 100%;
}

@theme {

}